/*
Colors:
blue   - #00B5AD
yellow - #FFD400
purple - #241F59
red    - #EF413D
*/

#header {
	background: linear-gradient(transparent, transparent),
                 url(../images/banners/conference.jpg) no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url(../images/banners/conference.jpg) no-repeat;
}

#interplayIcon {
	width: 100%;
}
@media (min-width: 500px) {
	#interplayIcon {
		width: 50%;
	}
}

/**/
/* Schedule */
/**/

#schedule a {
	color: #241F59;
	border-bottom: 1px solid #241F59;
}
@media (min-width: 1200px) {
	#schedule a:hover {
		color: #FFD400;
		border-bottom: 1px solid #FFD400;
	}
}

.scheduleToggleArrow {	
	transition: 0.2s all;
	-webkit-transition: 0.2s all;
}

/**/
/* Schedule Day */
/**/

.scheduleDayBuffer {
	height: 30px;
}

.scheduleDayToggle {
	width: 100vw;
	margin-left: -30px;
	margin-top: 15px;
	
	padding: 30px 0;
	
	color: white;
	text-align: center;
}
#scheduleDayToggle-1 {
	background-color: #FFD400;
}
#scheduleDayToggle-2 {
	background-color: #00B5AD;
}
#scheduleDayToggle-3 {
	background-color: #EF413D;
}

.scheduleDayToggleArrow {
	width: 35px;
}

.scheduleDayToggle img {
	margin-top: 30px;
}

.toggleContent {
	display: none;
}

.scheduleDayDescription {
	margin: 30px 0 60px 0;
}
.scheduleSmall {
	display: inline;
}
.scheduleLarge {
	display: none;
}
@media (min-width: 680px) {
	.scheduleDayContent {
		display: block;
	}
	.scheduleDayToggle {
		display: none;
	}
	.scheduleSmall {
		display: none;
	}
	.scheduleLarge {
		display: block;
	}
}

/**/
/* Schedule Event */
/**/

.scheduleEvent-inner {
	border-left: 10px solid #00B5AD;
	padding-left: 15px;
	padding-bottom: 5px;
	margin-bottom: 30px;
}

.scheduleEventTitle {
	display: inline;
	vertical-align: middle;
}
.scheduleEventContentToggleArrow {
	display: inline-block;
	vertical-align: middle;
	
	width: 20px;
	margin-left: 8px;
}

.scheduleEventDetails {
	margin-top: 15px;
	font-weight: 700;
}
.scheduleEventSpeaker p {
	margin: 0;
}

.scheduleEventContentToggle {
	margin: 30px 0 0 0;
	
	/* pointer and hand are the same for different browsers */
	cursor: pointer; 
	cursor: hand;
}

.scheduleEventContent {
	margin: 0;
	padding: 0;
	padding-top: 30px;
}

@media (min-width: 680px) {
	.scheduleEvent-inner {
		margin-left: 118px;
	}
}

.scheduleEventTimeLarge {
	float: left;
	font-weight: 700;
	margin-top: 5px;
	
	text-align: right;
	width: 103px;
}

/* Presenters */

#presenter-AllenPenniman .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/presenters/AllenPenniman.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/presenters/AllenPenniman.jpg') no-repeat;
	background-size: contain;
}
#presenter-BoriFeher .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/presenters/BoriFeher.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/presenters/BoriFeher.jpg') no-repeat;
	background-size: contain;
}
#presenter-CesarHidalgo .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/presenters/CesarHidalgo.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/presenters/CesarHidalgo.jpg') no-repeat;
	background-size: contain;
}
#presenter-ChristinaAgipakis .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/presenters/ChristinaAgipakis.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/presenters/ChristinaAgipakis.jpg') no-repeat;
	background-size: contain;
}
#presenter-CraigDykers .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/presenters/CraigDykers.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/presenters/CraigDykers.jpg') no-repeat;
	background-size: contain;
}
#presenter-DhairyaPujara .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/presenters/DhairyaPujara.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/presenters/DhairyaPujara.jpg') no-repeat;
	background-size: contain;
}
#presenter-EllenSu .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/presenters/EllenSu.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/presenters/EllenSu.jpg') no-repeat;
	background-size: contain;
}
#presenter-GenaWirth .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/presenters/GenaWirth.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/presenters/GenaWirth.jpg') no-repeat;
	background-size: contain;
}
#presenter-HannahChung .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/presenters/HannahChung.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/presenters/HannahChung.jpg') no-repeat;
	background-size: contain;
}
#presenter-ImranHafiz .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/presenters/ImranHafiz.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/presenters/ImranHafiz.jpg') no-repeat;
	background-size: contain;
}
#presenter-IngridBurrington .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/presenters/IngridBurrington.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/presenters/IngridBurrington.jpg') no-repeat;
	background-size: contain;
}
#presenter-JAndrewScanlan .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/presenters/JAndrewScanlan.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/presenters/JAndrewScanlan.jpg') no-repeat;
	background-size: contain;
}
#presenter-JuhanSonin .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/presenters/JuhanSonin.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/presenters/JuhanSonin.jpg') no-repeat;
	background-size: contain;
}
#presenter-KatieCafaro .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/presenters/KatieCafaro.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/presenters/KatieCafaro.jpg') no-repeat;
	background-size: contain;
}
#presenter-KursatOzenc .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/presenters/KursatOzenc.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/presenters/KursatOzenc.jpg') no-repeat;
	background-size: contain;
}
#presenter-LeahChung .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/presenters/LeahChung.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/presenters/LeahChung.jpg') no-repeat;
	background-size: contain;
}
#presenter-LelandKirshen .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/presenters/LelandKirshen.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/presenters/LelandKirshen.jpg') no-repeat;
	background-size: contain;
}
#presenter-NateStorring .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/presenters/NateStorring.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/presenters/NateStorring.jpg') no-repeat;
	background-size: contain;
}
#presenter-OlgaElizarova .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/presenters/OlgaElizarova.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/presenters/OlgaElizarova.jpg') no-repeat;
	background-size: contain;
}
#presenter-PhilRoss .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/presenters/PhilRoss.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/presenters/PhilRoss.jpg') no-repeat;
	background-size: contain;
}
#presenter-SabrinaDorsainvil .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/presenters/SabrinaDorsainvil.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/presenters/SabrinaDorsainvil.jpg') no-repeat;
	background-size: contain;
}
#presenter-SalomeAsega .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/presenters/SalomeAsega.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/presenters/SalomeAsega.jpg') no-repeat;
	background-size: contain;
}
#presenter-SamanthaDempsey .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/presenters/SamanthaDempsey.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/presenters/SamanthaDempsey.jpg') no-repeat;
	background-size: contain;
}
#presenter-TegaBrain .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/presenters/TegaBrain.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/presenters/TegaBrain.jpg') no-repeat;
	background-size: contain;
}
#presenter-VirgilWong .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/presenters/VirgilWong.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/presenters/VirgilWong.jpg') no-repeat;
	background-size: contain;
}
