/*
Colors:
blue   - #00B5AD
yellow - #FFD400
purple - #241F59
red    - #EF413D
*/

#header {
	background: linear-gradient(transparent, transparent),
                 url(../images/banners/conference.jpg) no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url(../images/banners/conference.jpg) no-repeat;
}

/**/
/* Schedule */
/**/

#schedule a {
	color: #241F59;
	border-bottom: 1px solid #241F59;
}
@media (min-width: 1200px) {
	#schedule a:hover {
		color: #FFD400;
		border-bottom: 1px solid #FFD400;
	}
}

.scheduleToggleArrow {	
	transition: 0.2s all;
	-webkit-transition: 0.2s all;
}

/**/
/* Schedule Day */
/**/
.scheduleDayBuffer {
/*	display: block;*/
	height: 60px;
}

.scheduleDayToggle {
	width: 100vw;
	margin-left: -30px;
	margin-top: 15px;
	
	padding: 30px 0;
	
	color: white;
	text-align: center;
}
#scheduleDayToggle-1 {
	background-color: #FFD400;
}
#scheduleDayToggle-2 {
	background-color: #00B5AD;
}
#scheduleDayToggle-3 {
	background-color: #EF413D;
}

.scheduleDayToggleArrow {
	width: 35px;
}

.scheduleDayToggle img {
	margin-top: 30px;
}

.toggleContent {
	display: none;
}

.scheduleDayDescription {
	margin: 30px 0 60px 0;
}
.scheduleSmall {
	display: inline;
}
.scheduleLarge {
	display: none;
}
@media (min-width: 680px) {
	.scheduleDayContent {
		display: block;
	}
	.scheduleDayToggle {
		display: none;
	}
	.scheduleSmall {
		display: none;
	}
	.scheduleLarge {
		display: block;
	}
}

/**/
/* Schedule Event */
/**/

.scheduleEvent-inner {
	border-left: 10px solid #00B5AD;
	padding-left: 15px;
	padding-bottom: 5px;
	margin-bottom: 30px;
}

.scheduleEventTitle {
	display: inline;
	vertical-align: middle;
}
.scheduleEventContentToggleArrow {
	display: inline-block;
	vertical-align: middle;
	
	width: 20px;
	margin-left: 8px;
}

.scheduleEventDetails {
	margin-top: 15px;
	font-weight: 700;
}
.scheduleEventSpeaker p {
	margin: 0;
}

.scheduleEventContentToggle {
	margin: 30px 0 0 0;
}

.scheduleEventContent {
	margin: 0;
	padding: 0;
	padding-top: 30px;
}

@media (min-width: 680px) {
	.scheduleEvent-inner {
		margin-left: 118px;
	}
}

.scheduleEventTimeLarge {
	float: left;
	font-weight: 700;
	margin-top: 5px;
	
	text-align: right;
	width: 103px;
}
