#header {
	width: 100vw;
	height: 40vw;
	min-height: 350px;
	
	position: relative;
    background-size: cover;
    background-position:center;
	
	text-align: center;
}


@media (min-width:1100px) {
	#header {
		height: 30vw;
	}
}

#headerText {
	color: #241F59;
	
	width: 100%;
	
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	
	font-size: 3em;
	font-weight: 700;
}

@media (min-width:600px) {
	#headerText {
		font-size: 5em;
		letter-spacing: 5px;
	}
}

/**/
/* Content */
/**/

.section {
	margin: 30px 30px 60px 30px;
}
.subsection {
	margin: 30px 0;
}
.content {
	max-width: 650px;
}
@media (min-width: 680px) {
	.content {
		padding-left: 120px;
	}
}
@media (min-width: 1100px) {
    .content {
        width: 50%;
        padding-left: calc(26% - 30px);
        max-width: 710px;
    }
}