/*
@media (max-width 500px) {
	body {
		overflow: hidden;
		position: fixed;
	}
}
*/


#indexNavbar {
	background-color: transparent;
	border: none;
}

#content {
	min-height: 100%;
}
#menu {
	margin-top: 50px
}

/*
#bgDiv{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
    background: -webkit-linear-gradient(transparent, transparent),
                 url(../images/homepageBG.jpg) no-repeat;
    background-size: cover;
    background-position:center;
    
    display: inline;  
}
*/

#splashDiv {
    height: 100vh;
    min-height: 400px;
    text-align: center;
    
    position: relative;
	
/*	background-color: none;*/
	
	background: linear-gradient(transparent, transparent),
                 url(../images/homepageBG.jpg) no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url(../images/homepageBG.jpg) no-repeat;
    background-size: cover;
    background-position:center;
	background-attachment: fixed;
	
    
    z-index: 1;
}

#logoDiv {
    width: 100%;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	
	text-align: center;
}
#logo {
    width: 80%;
    max-width: 500px;
    
    margin-bottom: 15px;
}
#logoDiv p {
    margin-bottom: 0;
}

#logoSubtitle {
	color: #FFD400;
	
	letter-spacing: 1px;
}

#callToAction {
	margin-top: 30px;
	display: inline-block;
	padding: 10px 15px;
	
	background-color: #00B5AD;
	color: #FFD400;
	border: #EF413D 2px solid;
}
@media (min-width: 1025px) {
    #callToAction {
        font-size: 1.3em;
		padding: 13px 20px;
		
		background-color: transparent;
		color: #00B5AD;
    }
	#callToAction:hover {
		background-color: #00B5AD;
		color: #FFD400;
	}
}

/**/
/*Social Media*/
/**/

#socialMedia {
	width: 200px;
	margin: 0 auto;
}

#socialIcons {
	color: white;
	list-style: none;
	margin-top: 30px;
	padding: 0;
	width: 100%;
	
	text-align: center;
}

#socialIcons li {
	float: left;
	width: 33.3%
}

img {
/*	background-color: red;*/
}

.socialImage {
	height: 40px;
}

@media (min-width: 1025px) {
	#socialIcons li svg:hover path {
		transition: 0.2s all;
		fill: #FFD400;
	}
}

