#header {
	background: linear-gradient(transparent, transparent),
                 url(../images/banners/sponsors.jpg) no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url(../images/banners/sponsors.jpg) no-repeat;
}

.sponsorDiv {
	padding-top: 30px;
}

.sponsorLogo {
	margin-bottom: 50px;
}

#autodeskLogo {
	width: 100%;
	max-width: 500px;
}

#ufbLogo {
	width: 60%;
	max-width: 250px;
}