#splashDiv {
    height: 80vh;
    min-height: 400px;
    text-align: center;
    
    position: relative;
    
    background-color: white;
    z-index: 1;
}

#logoDiv {
    width: 100%;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#logo {
    width: 80%;
    max-width: 500px;
    
    margin-bottom: 15px;
}
#logoDiv p {
    margin-bottom: 0;
}

/**/
/*Theme Launch*/
/**/
#bgDiv{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
    background: -webkit-linear-gradient(transparent, transparent),
                 url(../images/themeBG-party.jpg) no-repeat;
    background-size: cover;
    background-position:center;
    
    display: inline;
    
/*    z-index: -1;*/
}
#themeLaunchDiv {
    background-color: none;
    position: relative;
}
@media(min-width: 1025px){
	#bgDiv{
		display: none;
	}
    #themeLaunchDiv {
        background: -webkit-linear-gradient(transparent, transparent),
                 url(../images/themeBG-party.jpg) no-repeat;
        background-size: cover;
        background-position:center;
        background-attachment: fixed;
    }
}

.themeLaunchTitle {
    width: 100%;
    text-align: center;
    
    position: absolute;
}
#themeLaunchText {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-size: 2em;
}
@media (min-width: 530px) {
    #themeLaunchText {
        font-size: 3em;
    }
}

/**/
/*Interplay*/
/**/
#interplayDiv {
    background-color: white;
    padding-bottom: 100px;
    
    position: relative;
    z-index: 999;
}
#interplayIcon {
    display: block;
    margin: 0 auto;
    padding-top: 140px;
    margin-bottom: 80px;
    
/*  needs to be 69.356% of logo width, since logo has empty left side and trailing right text */
    width: calc(.69356 * 60%);
    max-width: calc(.69356 * 600px);
}
#interplayQuote {
    font-size: 1.4em;
    width: 240px;
    
    margin-bottom: 75px;
    
    color: #00B5AD;
}
@media (min-width: 1025px) {
    #interplayQuote {
        font-size: 2em;
        width: 350px;
    }
}